
parameters:
  rabbit_url: 88.146.49.119
  rabbit_port: 5672
  rabbit_user:  guest
  rabbit_password: guest
  rabbit_vhost: "/"

  database_driver:   pdo_mysql
  database_host:     mysql_database
  database_name:     gateway
  database_user:     user
  database_password: pass

  necktie_url:  "http://http://88.146.49.119"
  necktie_api:  "/app_dev.php/rabbitmq/results"
